{% extends 'base.html' %}
{% load static %}


{% block contend %}
<!--Card de bootstrap para las publicaciones-->    



  <h2 class="box">Publicaciones</h2>

<article class="box">
  <a href="{% url 'crear-publicacion' %}" class="button">Hacer un nuevo post</a>
</article>

{% for publicacion in publicaciones %}

<article class="box excerpt">
  <div class="card" style="width:50rem;">
    <h3 style="margin-top: 20px; padding-left: 0.5em;"><a href="#">{{publicacion.titulo}}</a> - <strong>@{{publicacion.creador.username}}</strong></h3> 
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">{{publicacion.texto}}</p>
        <ul class="actions">
          <li><a href="#" class="button">Leer Más</a></li>
        </ul>
        <span>{{publicacion.fecha}}</span>
        <span style="padding-left: 80%;"><a href="{% url 'modificar-publicacion' publicacion.id %}">
          <i class="fa-solid fa-pen-to-square" > </i>
        </a> </span>
        <a href="{% url 'eliminar-publicacion' publicacion.id %}"> 
           <i class="fa-solid fa-eraser"> </i>
        </a>
      </div>
      <div>
     <!--class="date" style=" width: 10rem;" class para que la fecha aparezca como cartel-->
      </div>
    </div>
    
   
    
</article> 
{% endfor %}
  
  


{% endblock contend %}
    