{% extends 'base.html' %}
{% load static %}


{% block contend %}
<!--Card de bootstrap para las publicaciones-->    

<form method="get">
  <!--Categorías-->
    <select name="categoria" id="">
      <option value="">Todas la publicaciones</option>
        
        {% for categoria in categorias  %}
        <option value="{{categoria.id}}">{{categoria.nombre}}</option>
          
        {% endfor %}
          
    </select>

    <!-- Ordenar -->
    <select name="orderby" id="">
      <option value="">Ordenar por</option>
      <option value="fecha_asc">Fecha ascendente</option>
      <option value="fecha_desc">Fecha descendente</option>
      <option value="alf_asc">Alfabetidcamente ascendente</option>
      <option value="alf_desc">Alfabeticamente descendente</option>
    </select>

    <button type="submit">Filtrar</button>
</form>

  <h2 class="box">Publicaciones</h2>
  
  <article class="box">
    <a href="{% url 'crear-publicacion' %}" class="button">Hacer un nuevo post</a>
  </article>
  
{% for publicacion in publicaciones %}

<article class="box excerpt">
  <div class="card" style="width:50rem;">
    <h3 style="margin-top: 20px; padding-left: 0.5em;"><a href="#">{{publicacion.titulo}}</a> - <strong style="text-transform: lowercase; letter-spacing: 0px;"> @{{publicacion.creador.username}}</strong></h3> 
    <p style="scale: 80%; margin-left: -3.5em;"><i class="fa-solid fa-tag"> {{publicacion.categoria}}</i></p>
    {% if publicacion.imagen %}
    <img src="{{publicacion.imagen.url}}" class="card-img-top" style="width: 200px; height: 200px;">
    {% else %}
    <img src="{% static 'images/librito.jpg' %}" class="card-img-top" style="width: 200px; height: 200px;"alt="...">
    {% endif %}
        
      <div class="card-body">
        <p class="card-text">{{publicacion.texto}}</p>
        <ul class="actions">
          <li><a href="{% url 'ver-publicacion' publicacion.id %}" class="button">Leer Más</a></li>
        </ul>
        <span>{{publicacion.fecha}}</span>
        
       
          
        
          
        <form action="{% url 'me-gusta' %}" method="post">{% csrf_token %}
          <input type="hidden" value="{{publicacion.id}}" name="publicacion_id">
          {% if user in publicacion.me_gusta.all %}
           <button type="submit" style="scale: 75%;"><i class="fa-solid fa-heart"></i> {{publicacion.me_gusta.count}}</button>
          {% else %}
          <button type="submit" style="scale: 75%;"><i class="fa-regular fa-heart"></i> {{publicacion.me_gusta.count}}</button>
          {% endif %}
      </form>
        {% if user == publicacion.creador or user.is_superuser %}
        <span style="padding-left: 90%;"><a href="{% url 'modificar-publicacion' publicacion.id %}">
         <!-- Editar Publicacion -->
          <i class="fa-solid fa-pen-to-square" > </i>
        </a> </span>
        <!-- Eliminar Publicacion -->
        <a href="{% url 'eliminar-publicacion' publicacion.id %}"> 
           <i class="fa-solid fa-eraser"> </i>
        {% endif %}
          
       
      </div>
      <div>
     <!--class="date" style=" width: 10rem;" class para que la fecha aparezca como cartel-->
      </div>
    </div>
    
   
    
</article> 
{% endfor %}
  
  


{% endblock contend %}
    