{% extends 'base.html' %}
{% load static %}


{% block contend %}
    
<!-- Main -->
<section id="main">
    <div class="container">
        <div class="row">

            <!-- Sidebar -->
                <div id="sidebar" class="col-4 col-12-medium">
                    <!-- Excerpts -->
                        <section>
                            <ul class="divided">
                                <li>
                                    <h3 class="box">más publicaciones</h3> 
                                </li> 
                                <li>

                                    <!-- Excerpt -->
                                        <article class="box excerpt">
                                            <header>
                                                <span class="date">July 24</span>
                                                <h3><a href="#">One more post</a></h3>
                                            </header>
                                            <a href="#" class="image left"><img src="{% static 'images/pic06.jpg' %}" alt="" /></a>
                                            <p>Lorem ipsum dolor odio facilisis convallis. Etiam non nunc vel est
                                            suscipit convallis non id orci lorem ipsum sed magna consequat feugiat lorem dolore.</p>
                                            <ul class="actions">
                                                <li><a href="#" class="button icon solid fa-file">Leer Más</a></li>
                                            </ul>
                                        </article>

                                </li>
                            </ul>
                        </section>

                    <!-- Highlights -->
                        <section>
                            <ul class="divided">
                                <li>

                                  
                                            
                                </li>
                                <li>

                                   

                                </li>
                            </ul>
                        </section>

                </div>

            <!-- Content -->
                <div id="content" class="col-8 col-12-medium imp-medium">

                    <!-- Post -->
                        <article class="box post">
                            
                            <header>
                                <h3 style="font-size: 18px; font-weight: lighter;" >-@{{publicacion.creador.username}}</h3>
                                <h2>
                                    {{publicacion.titulo}} 
                                </h2>
                            </header>
                            {% if publicacion.imagen %}
                            <span class="image featured" style="display: flex; flex-direction: column; justify-content: center; width: 60%; height: 50%;"><img src="{{publicacion.imagen.url}}" class="card-img-top" style="width: 100%; height: 100%;"></span >
                             {% else %}
                             <span class="image featured"><img src="{% static 'images/pic04.jpg' %}" alt="" /></span>
                             {% endif %}
                            <h3>Cuerpo de la Publiación</h3>
                            <p>{{publicacion.texto}}</p>
                            <h3 style="font-size: 18px; font-weight: lighter;" >-{{publicacion.fecha}}</h3>
                            <br>
                            
                            {% if user.is_authenticated %}
                            <form method="post">{% csrf_token %}
                                {{form}}
                                <button type="submit">Comentar</button>  
                            </form>
                            {% else %}
                            <a href="{% url 'login' %}">Logeate para comentar</a> 
                            {% endif %}
                                
                            <h2 style="margin-top: 15px;">comentarios</h2>
                            
                            {% if publicacion.comentarios.all %}
                                 {% for comentario in publicacion.comentarios.all  %}
                            <div class="card">
                                <div class="card-body">
                                    <strong>
                                        @{{comentario.creador.username}}
                                    </strong>-
                                  {{comentario.texto}}
                                  
                                  {% if comentario.creador == user or user.is_superuser or user == publicacion.creador %}
                                  <span><a href="{% url 'editar-comentario' comentario.id %}">
                                    <i class="fa-solid fa-pen-to-square" > </i>
                                  </a> </span>
                                  <a href="{% url 'eliminar-comentario' comentario.id %}"> 
                                    <i class="fa-solid fa-trash-can"></i>
                                  </a>
                                  {% endif %}
                                    
                                  
                                </div>
                              </div> 
                        </article>
                             {% endfor %} 

                             {% else %}
                             <p>Nadie ha comentado aún, se el primero en comentar!</p>
                            {% endif %}
                                

                          
                                   
                           
                        
                        
                        
                        
                          
                        
                        
                </div> 
        </div>       
    </div>
    
</section>
<br>


{% endblock contend %}
    