{% extends 'base.html' %}
{% load static %}

{% block contend %}
    <!-- Features -->
<section id="mas-likes">
    <div class="container">
        <header>
            <h2>Mirá las publicaciones <strong>más likeadas</strong>!</h2>
        </header>
        <div class="row aln-center">
            {% for posteo in mejores_posteos  %}
            <div class="col-4 col-6-medium col-12-small">
 
             <!-- Feature -->
                 <section>
                    
                    {% if posteo.imagen %}
                    <a href="{% url 'ver-publicacion' posteo.id %}" class="image featured"><img src="{{posteo.imagen.url}}" alt="" /></a>
                    {% else %}
                    <a href="{% url 'ver-publicacion' posteo.id %}" class="image featured"><img src="{% static 'images/pic01.jpg' %}" alt="" /></a>
                    {% endif %}
                        
                     
                     <header>
                         <h3>{{posteo.titulo}}</h3>
                     </header>
                     <p>{{posteo.texto}}</p>
                 </section>
 
         </div>
            {% endfor %}
            <div class="col-12">
                <ul class="actions">
                    <li><a href="{% url 'posts' %}" class="button">Ver más publicaciones</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Banner -->
<section id="foro">
<section id="banner">
    <div class="container">
        <p><strong>¿De qué trata este foro?</strong></p>
    </div>
</section>
</section>

<!-- Main -->
<section id="main">
    <div class="container">
        <div class="row">

            <!-- Content -->
                <div id="content" class="col-8 col-12-medium">

                    <!-- Post -->
                        <article class="box post">
                            <header>
                                <h2><a>Somos un foro creado por amantes de los libros,
                                para amantes de los libros.</a></h2>
                            </header>
                            
                            <a class="image featured"><img src="{% static 'images/libros-4.jpg' %}" alt="unos cuantos libritos" /></a>
                            <h3>Un espacio creado para vos</h3>
                            <p>En este espacio digital, nos sumergimos en la magia de la palabra escrita, explorando los inabarcables mundos que se despliegan entre las páginas de un libro. En el Rincon del Libro, no nos limitamos a compartir solo reseñas de las últimas obras literarias; más bien, invitamos a nuestros lectores a emprender un fascinante viaje de descubrimiento literario que abraza géneros, estilos y épocas.</p>
                            <p><strong>¿Qué encontrarás en nuestro rincón literario?</strong></p>

                                <p><strong>Viajes a través de las Páginas</strong>: Nuestro equipo de apasionados lectores examina meticulosamente cada libro, ofreciendo exploraciones que van más allá de las reseñas convencionales. Desde éxitos recientes hasta joyas literarias menos conocidas, te guiamos para que encuentres experiencias de lectura que resuenen contigo.</p>
                                
                                <p><strong>Sin Límites</strong>: ¿Eres aficionado a la fantasía, apasionado por la ciencia ficción o amante de la poesía? En el Rincón del Libro, abrazamos la diversidad literaria, llevándote a explorar todos los rincones de la creación literaria para que descubras tu propio universo literario.</p>
                                
                                <p><strong>Eventos Literarios en Primera Fila</strong>: Mantente al tanto de eventos literarios, lanzamientos de libros y entrevistas exclusivas con autores. En nuestro blog, te ofrecemos un asiento de primera fila para las experiencias más emocionantes del mundo literario.</p>
                                
                                <p><strong>Comunidad Literaria</strong>: El Rincón del Libro no es solo nuestro espacio; también es tuyo. Únete a nuestra comunidad de lectores apasionados, comparte tus pensamientos, recomendaciones y descubre conexiones literarias que enriquecerán tu amor por la lectura.</p>
                            <ul class="actions">
                            </ul>
                        </article>

                    <!-- Post -->
                <section id="quienes-somos">    
                    <article class="box post">
                            <header>
                                <h2><a href="#">¿Quienes somos?</a></h2>
                            </header>
                            <a href="#" class="image featured"><img src="{% static 'images/yo-y-harry.jpg' %}" alt="" /></a>
                            <h3>Me llamo Matias Husty</h3>
                            <p>Nacido en Sáenz Peña, Chaco un 27 de enero del 2003. Soy el creador y programador de esta página, tengo 20 años y mis pasatiempos son:</p>
                            <p>-Jugar al Fútbol</p>
                            <p>-Ir al Gimnasio</p>
                            <p>-Hacer música</p>
                            
                            <p>LLevo una vida muy conectada con el arte, me encanta todo lo que tenga que ver con la música, toco la guitarra hace más de 10 años, el bajo, algo de piano y armónica (muy poco). Hasta hace un tiempo tocaba el contrabajo en la orquesta local "Vientos de Cambio".</p>
                            <ul class="actions">
                            </ul>
                        </article>
                </section>
                

           

 

                        
                            
                        </section>
                    </div>
                </div>

        </div>
    </div>
</section>

{% endblock contend %}
    