<!-- Footer -->
<section id="footer">
    <div class="container">
        <header>
            <h2>¿Tenes alguna duda? <strong>Contactate con nosotros:</strong></h2>
        </header>
        <div class="row">
            <div class="col-6 col-12-medium">
                <section>
                    <form method="post" action="#">
                        <div class="row gtr-50">
                            <div class="col-6 col-12-small">
                                <input name="name" placeholder="Nombre" type="text" />
                            </div>
                            <div class="col-6 col-12-small">
                                <input name="email" placeholder="Email" type="text" />
                            </div>
                            <div class="col-12">
                                <textarea name="message" placeholder="Mensaje"></textarea>
                            </div>
                            <div class="col-12">
                                <a href="#" class="form-button-submit button icon solid fa-envelope">Send Message</a>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
            <div class="col-6 col-12-medium">
                <section>
                    <p>Más medios de contacto:</p>
                    <div class="row">
                        <div class="col-6 col-12-small">
                            <ul class="icons">
                                <li class="icon solid fa-phone">
                                    (3644) 030-3456
                                </li>
                                <li class="icon solid fa-envelope">
                                    husty.matias@gmail.com
                                </li>
                            </ul>
                        </div>
                        <div class="col-6 col-12-small">
                            <ul class="icons">
                                <li class="icon brands fa-twitter">
                                    <a href="https://twitter.com/husty_matias">Twitter</a>
                                </li>
                                <li class="icon brands fa-instagram">
                                    <a href="https://www.instagram.com/matiasl_husty/">Instagram</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div id="copyright" class="container">
        <ul class="links">
            <li>&copy; El Rincón del Libro. All rights reserved.</li>
        </ul>
    </div>
</section>

<!-- Poner en sidebar de ver-publicacion-->
<!-- Excerpts -->
<section>
    <ul class="divided">
        <li>
            <h3 class="box">más publicaciones</h3> 
        </li> 
        <li>

            <!-- Excerpt -->
                <article class="box excerpt">
                    <header>
                        <span class="date">July 24</span>
                        <h3><a href="#">One more post</a></h3>
                    </header>
                    <a href="#" class="image left"><img src="{% static 'images/pic06.jpg' %}" alt="" /></a>
                    <p>Lorem ipsum dolor odio facilisis convallis. Etiam non nunc vel est
                    suscipit convallis non id orci lorem ipsum sed magna consequat feugiat lorem dolore.</p>
                    <ul class="actions">
                        <li><a href="#" class="button icon solid fa-file">Leer Más</a></li>
                    </ul>
                </article>

        </li>
    </ul>
</section>
