{% extends 'base.html' %}
{% load static %}


{% block contend %}
<!--Card de bootstrap para las publicaciones-->    



  <article class="box excerpt">
    <div class="card" style="width: 50rem;">
        <h3><a href="#">Publicación 1</a></h3>
        
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <ul class="actions">
            <li><a href="#" class="button icon solid fa-file">Leer Más</a></li>
        </ul>
        </div>
      </div>
      <span class="date" style=" width: 10rem;">July 30</span>


      
  </article> 


  <article class="box excerpt">
    <div class="card" style="width: 50rem;">
        <h3><a href="#">Publicación 2</a></h3>
        
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <ul class="actions">
            <li><a href="#" class="button icon solid fa-file">Leer Más</a></li>
        </ul>
        </div>
      </div>
      <span class="date" style=" width: 10rem;">July 29</span>


      
  </article> 
  
{% endblock contend %}
    